//
//  Supabase.xcconfig
//  SupabaseSwiftExample
//
//  Created by Alireza Asadi on 2/17/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include? "Supabase.local.xcconfig"

// Uncomment and set your own project ID.
//SUPABASE_PROJECT_ID=
// Uncomment and set your own anon key.
//SUPABASE_ANON_KEY=
